<!DOCTYPE html>
<html>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>

  <link rel="stylesheet" href="style.css"/>
  <script src="app.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  
<head>
</head>
<body>
  <div ng-app='dojo' ng-controller='load' ng-init='queryDojo()'>
    <h3>Aggregate good and bad behavior by time of day</h3>
    <div class='goodSquare'></div> <div class='goodLabel'>Good behavior</div>
    <div class='badSquare'></div> <div class='badLabel'>Bad behavior</div>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <ul ng-repeat='(course, content) in classes'>
      <div class='button' ng-click="showDetails = !showDetails;">{{course}}</div>
      <div ng-show='showDetails'>
        <canvas id={{course}}></canvas>
        {{createTimeline(course, content)}}
        <ul ng-repeat='(name, scores) in content.students'>
          <li>{{name}}: <span class='goodLabel'> {{scores.good}}</span> | <span class='badLabel'>{{scores.bad}}</span></li>
        </ul>
      </div>
    </ul>
  </div>
</body>
</html>