<!DOCTYPE html>
<html>
<head>
  <script src="./bower_components/angular/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
  <link rel="stylesheet" href="style.css"/>
  <script src="app.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div ng-app='dojo' ng-controller='load' ng-init='queryDojo()'>
    <h2>Classroom dashboard</h2>
    <div class='detail'>The classroom dashboard gives you a high level overview of your classes' behavior. <br>
      You can quickly scan how behavior varies by time of day and identify students who may need more attention.</div>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <ul ng-repeat='(course, content) in classes'>
      <div class='button' ng-click="showDetails = !showDetails;">{{course}}</div>
      <div ng-show='showDetails'>
        <h4>Classroom <span class='goodLabel'>good</span> and <span class='badLabel'>bad</span> behavior by time of day</h4>
        <canvas id={{course}}></canvas>
        <div class='rotate'> total class awards </div>
        {{createTimeline(course, content)}}
        <h4>Student <span class='goodLabel'>good</span> and <span class='badLabel'>bad</span> behavior breakdown</h4>
        <ul ng-repeat='(name, scores) in content.students'>
          <li>{{name}}: <span class='goodLabel'> {{scores.good}}</span> | <span class='badLabel'>{{scores.bad}}</span></li>
        </ul>
      </div>
    </ul>
  </div>
</body>
</html>
